body{
    background-color: lightpink;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.continer{
   
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
input[type="text"]{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;

}
button{
    background-color: orange;
    border: none;
    color: black;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
ul{
    max-width: 700px;
    list-style-type: none;
    padding: 10px;
    margin: 2px;
    font-weight: 500;
    font-family: Arial, sans-serif;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.delete{
    background-color: rgb(88, 53, 12);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.clear{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 85px;
}